include ../mixins/icon

.features 
    .container
        .swiper.default-slider
            .swiper-wrapper
                .swiper-slide.features__item 
                    .features__item-title Исключительное качество без компромиссов
                    .features__item-description.js-truncate.truncate(data-lines="2") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ducimus necessitatibus ut temporibus odit amet obcaecati mollitia et sapiente optio veniam quidem enim quisquam aliquid officiis error totam, iste non.
                    a(href='').btn Подробнее
                .swiper-slide.features__item 
                    .features__item-title Исключительное качество без компромиссов
                    .features__item-description Ножи «Tuotown» – это главный инструмент поваров и секрет кулинарного мастерства
                    a(href='').btn Подробнее

            .swiper-pagination.default-slider__pagination

            a(href="#").default-slider__control.default-slider__prev 
            a(href="#").default-slider__control.default-slider__next