.container {
	margin: 0 auto;
	max-width: $mobile-width;

	@include tablet {
		max-width: $tablet-width;
	}

	@include notebook {
		max-width: $notebook-width;
	}

	@include desktop {
		max-width: $desktop-width;
	}
}