* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $xs-size;
    line-height: 3em;
}

body {
    font-family: $base-font, sans-serif;
    background: $black;
    height: 2000vh;
    color: $white;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}