// COLORS
$black: #373737;
$accent: #C80000;
$accent-light: #ED0C0C;
$dark: #232323;
$dark-light: #303030;
$white: #fff;
$light: #ADACAC;
$gray: #878787;

// SIZE
$xxl-size: 70px;
$xl-size: 41px;
$l-size: 32px;
$m-size: 24px;
$sm-size: 18px;
$s-size: 16px;
$xs-size: 14px;
$xxs-size: 13px;
$xxxs-size: 12px;
$xxxxs-size: 11px;

// FONT-FAMILY
$heading-font: 'Jura';
$base-font: 'Montserrat';

// BREAKPOINTS
$desktop: 1440px;
$tablet: 980px;
$mobile: 768px;

// TRANSITION
$transition: .3s ease;

// OPACITY
$opacity: .7;

// CONTAINERS
$wide-container: 1286px;
$medium-container: 1200px;
$small-container: 960px;